{erl_opts, [debug_info]}.
{deps, [
  {opentelemetry_api, "~> 1.0.0-rc.3"},
  {opentelemetry_telemetry, "~> 1.0.0-beta.4"},
  {telemetry, "~> 1.0"}
]}.

{project_plugins, [covertool,
                   erlfmt]}.
{profiles,
 [{docs, [{deps, [edown]},
          {edoc_opts,
           [{preprocess, true},
            {doclet, edoc_doclet_chunks},
            {layout, edoc_layout_chunks},
            {dir, "_build/default/lib/opentelemetry_cowboy/doc"},
            {subpackages, true}]}]},
  {test, [{erl_opts, [nowarn_export_all]},
          {deps, [
            {opentelemetry, "~> 1.0.0-rc.3"},
            {opentelemetry_exporter, "~> 1.0.0-rc.3"},
            {cowboy, "~> 2.7"},
            {cowboy_telemetry, "~> 0.4"}
            ]},
          {paths, ["src", "test/support"]},
          {ct_opts, [{ct_hooks, [cth_surefire]}]}]}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.
{xref_ignores, []}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.