{erl_opts, [debug_info]}.
{deps, [
    {test_child_app, "~> 0.1"}
]}.

{profiles, [
    {test, [{erl_opts, [nowarn_export_all]},
            {deps, [
                {test_child_app, "~> 0.1"},
                {telemetry, "~> 1.0"}
            ]},
            %% create junit xml for circleci
            {ct_opts, [{ct_hooks, [cth_surefire]}]},
            {cover_enabled, true},
            {cover_opts, [verbose]},
            {paths, ["src", "test/support"]},
            %% convert to data codecov understands
            {plugins, [covertool]},
            {covertool, [{coverdata_files, ["ct.coverdata"]}]}
    ]},
    {docs, [{edoc_opts, [{preprocess, true},
                         {title, "Test App"}]}
    ]}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [test_app]}
]}.

%% take out warnings for unused exported functions
{xref_checks,[undefined_function_calls, undefined_functions, locals_not_used,
              deprecated_function_calls, deprecated_functions]}.