.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
deps

# rebar 3
.rebar3
_build/
_checkouts/

_*
*.swp
*.swo
.erlang.cookie
ebin
*.iml
doc

.tool-versions

