{erl_opts, [debug_info]}.
{deps, [
  {opentelemetry_api, "~> 1.2"}
]}.

{project_plugins, [covertool,
                   rebar3_fmt,
                   rebar3_hex,
                   rebar3_hank]}.

{profiles,
 [{docs, [{deps, [edown]}]},
  {github, [{plugins, [{rebar3_ex_doc, "0.2.9"}]},
            {ex_doc, [{source_url, <<"https://github.com/open-telemetry/opentelemetry-erlang-contrib">>},
            {subpackages, true}]}]},
  {test, [{erl_opts, [nowarn_export_all]},
          {deps, [
            {opentelemetry, "~> 1.3"}
            ]},
          {paths, ["src", "test/support"]},
          {ct_opts, [{ct_hooks, [cth_surefire]}]}]}]}.