%%-*-Erlang-*-
[{kernel,
  [{logger_level, debug},
   {logger,
    [{handler, default, logger_std_h,
      #{level => debug,
        formatter =>
            {logger_formatter,
             #{single_line => true,
               legacy_header => false,
               template => [time," ",pid," ",level,": ",msg,"\n"]
              }},
        config =>
            #{sync_mode_qlen => 10000,
              drop_mode_qlen => 10000,
              flush_qlen     => 10000}
       }
     }
    ]}
  ]},

 {opentelemetry_experimental,
  [{readers,
    [
     #{module => otel_metric_reader_periodic,
       config => #{export_interval_ms => 1000,
                   exporter => {otel_metric_exporter_console, undefined}}}
    ]}
  ]}
].
