{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [
    covertool,
    erlfmt,
    rebar3_hex
]}.
{profiles, [
    {docs, [
        {deps, [edown]},
        {edoc_opts, [
            {preprocess, true},
            {doclet, edoc_doclet_chunks},
            {layout, edoc_layout_chunks},
            {dir, "_build/default/lib/opentelemetry_instrumentation_http/doc"},
            {subpackages, true}
        ]}
    ]},
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, []},
        {ct_opts, [{ct_hooks, [cth_surefire]}]}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_function_calls,
    deprecated_functions
]}.
{xref_ignores, []}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.
