{erl_opts, [debug_info]}.
{deps, [elli,
        recon,
        opentelemetry_api,
        opentelemetry_exporter,
        opentelemetry,
        opentelemetry_elli,

        {opentelemetry_api_experimental,
         {git_subdir, "http://github.com/tsloughter/opentelemetry-erlang",
          {branch, "main"}, "apps/opentelemetry_api_experimental"}},
        {opentelemetry_experimental,
         {git_subdir, "http://github.com/tsloughter/opentelemetry-erlang",
          {branch, "main"}, "apps/opentelemetry_experimental"}}
       ]}.

%% builds js/app.js into priv/static/index.js
{pre_hooks, [{compile, "npm run build"}]}.

{relx, [{release, {roll_dice, "0.1.0"},
         [opentelemetry_exporter,
          opentelemetry_experimental,
          opentelemetry,
          recon,
          roll_dice,
          sasl]}
]}.

