{erl_opts, [debug_info]}.
{deps, [elli,
        recon,
        opentelemetry_api,
        opentelemetry_exporter,
        opentelemetry,
        opentelemetry_elli,

        {opentelemetry_api_experimental, "~> 0.5"},
        {opentelemetry_experimental, "~> 0.5"}
       ]}.

%% builds js/app.js into priv/static/index.js
{pre_hooks, [{compile, "npm run build"}]}.

{shell, [{apps, [opentelemetry_exporter,
                 opentelemetry_experimental,
                 opentelemetry,
                 recon,
                 roll_dice]},
         {config, "config/sys.config"}]}.

{relx, [{release, {roll_dice, "0.1.0"},
         [opentelemetry_exporter,
          opentelemetry_experimental,
          opentelemetry,
          recon,
          roll_dice,
          sasl]}
]}.
