[
 {roll_dice, []},

 {opentelemetry_elli, [{excluded_paths, ["/static", "/favicon.ico"]}]},

 {opentelemetry_experimental,
  [{readers, [#{module => otel_metric_reader,
                config => #{export_interval_ms => 1000,
                            exporter => {opentelemetry_exporter, #{}}}}]}]},

 {kernel,
  [{logger_level, debug},
   {logger,
    [{handler, default, logger_std_h,
      #{formatter => {logger_formatter, #{}}}}]}]}
].
