{erl_opts, [debug_info]}.

{deps, [grpcbox,
        {opentelemetry_api, "~> 1.2"},
        {opentelemetry_semantic_conventions, "~> 0.2.0"}]}.

{project_plugins, [{rebar_covertool, "1.1.0"},
                   {grpcbox_plugin, "~> 0.7.0"}]}.

{profiles,
 [{test, [{erl_opts, [nowarn_export_all]},

          {grpc, [{protos, "test/otel_interceptor_SUITE_data"},
                  {out_dir, "test"},
                  {gpb_opts, [{o, "test"},
                              {descriptor, true},
                              {module_name_suffix, "_pb"}]}]},

          {deps, [{opentelemetry, "~> 1.3"},
                  {opentelemetry_semantic_conventions, "~> 0.2.0"},
                  jsx]}]}]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

{ct_opts, [{ct_hooks, [cth_surefire]}]}.
