{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [
    covertool,
    erlfmt,
    rebar3_hex
]}.
{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, []},
        {ct_opts, [{ct_hooks, [cth_surefire]}]}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_function_calls,
    deprecated_functions
]}.
{xref_ignores, []}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

{plugins, [rebar3_ex_doc]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
    {source_url, <<"https://github.com/opentelemetry-erlang-contrib/utilities/otel_http">>},
    {extras, [<<"README.md">>, <<"CHANGELOG.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.