%%-*-Erlang-*-
{erl_opts, [debug_info]}.
{deps, [
        {opentelemetry_api, "~> 1.3.0"},
        {opentelemetry_api_experimental, "~> 0.5.1"}
       ]}.

{pre_hooks,
 [{"linux|darwin", compile, "make -C c_src"},
  {"freebsd", compile, "gmake -C c_src"}]}.
{post_hooks,
 [{"linux|darwin", clean, "make -C c_src clean"},
  {"freebsd", clean, "gmake -C c_src clean"}]}.

{plugins, [{rebar3_archive_plugin, "0.0.2"},
           rebar3_hex, rebar3_fmt]}.
